* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'Arial', sans-serif;
    background: url('assets/background.jpg') no-repeat center center/cover;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    height: 80px;
    background: transparent;
    backdrop-filter: blur(10px);
    z-index: 999;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%;
    max-width: 1600px;
}

.navbar-logo {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    /* white-space: nowrap; */
}

.navbar-container .navbar-menu li a:hover {
    background: #3a5a40;
    border: 2px solid black;
}

.navbar-toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: #fff;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 800px) {
    .navbar {
        backdrop-filter: none;
    }

    .navbar-container .navbar-menu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        transform: translateX(100%);
        transition: transform 0.4s ease;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1.7em;

        padding: 5rem 1.5rem;
        backdrop-filter: blur(10px);
        box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
    }

    .navbar-container .navbar-menu.active {
        transform: translateX(0);
    }

    .navbar-toggle {
        display: block;
        z-index: 999;
    }

    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

.hero {
    margin-top: 2em;
    padding: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

h1 {
    font-size: 3em;
    color: #fff;
    text-align: end;
}

.command-button {
    background: #3a5a40;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.command-button a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
}